@import 'general';

.channel-container {
	text-align: center;
	list-style: none;
	padding-inline-start: 0;
	width: 12em;
}

.channel-btn {
	width: 75%;
}

.channel {
	color: $text;
	background-color: $top-grey;
	text-decoration: none;
}


.channel a {
	color: $text;
	background-color: $top-grey;
	text-decoration: none;
}

.channel a:focus {
	background-color: $bar-grey !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important; // ghosty white outline
}

.channel a:hover {
	background-color: $bar-grey !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important; // ghosty white outline
}

.channel a:active {
	background-color: $bar-grey !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important; // ghosty white outline
}

.channel a:visited {
	background-color: $bar-grey !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important; // ghosty white outline
}

.channel-name {
	color: $text;
}

.channel-name:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5)
}
